<div class="container">

        <h4>three dots / elipsis / spread operator</h4>
        <pre>
            let arr = [1,2,3];
            console.log([...arr,4,5]); // [1,2,3,4,5]
        </pre>

</div>
<div class="container">
  <h4>ngFor built in Variabes: first, last, odd, even </h4>
    <ol>
      <li *ngFor="let episode of episodes;let isOdd = odd; let isEven = even; let isFirst = first; let isLast = last;" [ngStyle]="{
        'color': isEven? 'red' :'green',
        'font-weight': isFirst? 'bold': '' }">
        {{episode.title}} by {{episode.director}}
      </li>
    </ol>
  </div>

<div class="container">
        <h3>Track by</h3>
        <div>
          <app-listitem *ngFor="let currentItem of episodes; trackBy: trackEpisodes" [listItem]="currentItem">
            hello {{ currentItem.title}}
          </app-listitem>
          <button class="btn-success" [hidden]='newEpisodes.length === 0' (click)='addEpisode()'>add episode</button>
        </div>

</div>
<div class="container">
    <h3>How to use [ngForOf]</h3>
    'let-' can only be used with template or ng-template tag'
    <ng-template ngFor [ngForOf]="[1,2,3,4,5]" let-myvar >
      <div *ngIf='myvar > 2'>
          {{ myvar }}
      </div>
    </ng-template>
</div>


