<div class="container">

    <p>
        <ngb-alert [dismissible]="true">
          <strong>ngFor example !</strong> 
        </ngb-alert>
    </p>
  <div class="row">
    <ol>
      <!-- <li *ngFor="let episode of episodes;let isOdd = odd; let isEven = even; let isFirst = first; let isLast = last;" [ngStyle]="{
        'color': isEven? 'red' :'green',
        'font-weight': isFirst? 'bold': '' }">
        {{episode.title}} by {{episode.director}}
      </li> -->
    </ol>
  </div>
</div>
<h3>three dots aka elipsis aka spread operator</h3>
<pre>
    let arr = [1,2,3];
    console.log([...arr,4,5]); // [1,2,3,4,5]
</pre>
<h3>Track by</h3>
<div>
  <app-listitem *ngFor="let currentItem of episodes; trackBy: trackEpisodes" [listItem]="currentItem">
    hello {{ currentItem.title}}
  </app-listitem>
  <button class="btn-success" [hidden]='newEpisodes.length === 0' (click)='addEpisode()'>add episode</button>
</div>